<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ContentScriptCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ContentsDbEntities" connectionString="metadata=res://*/Entities.Database.Contents.csdl|res://*/Entities.Database.Contents.ssdl|res://*/Entities.Database.Contents.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\MSSQLSERVER17;initial catalog=[ContentsDb];integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <userSettings>
    <ContentScriptCreator.Properties.Settings>
      <setting name="SpeakerYml" serializeAs="String">
        <value>D:\Repos\sendaiitfes2017\data\speakers.yml</value>
      </setting>
      <setting name="SessionInfoPath" serializeAs="String">
        <value>D:\Repos\sendaiitfes2017\source\sessions\items\new</value>
      </setting>
      <setting name="TimetablePath" serializeAs="String">
        <value>D:\Repos\sendaiitfes2017\source\schedule\index.html.slim.new</value>
      </setting>
    </ContentScriptCreator.Properties.Settings>
  </userSettings>
</configuration>
